[data-md-color-scheme="youtube"] {
    --md-primary-fg-color:        #340fee;
    --md-primary-fg-color--light: rgb(103, 32, 211);
    --md-primary-fg-color--dark:  rgb(10, 3, 144);
  }
  
[data-md-color-scheme="slate"] {
    --md-hue: 255; 
    --md-default-bg-color: hsla(249,47%,12%,1); 
  }

[data-md-color-scheme="neon"] {
    --md-hue: 255; 
    --md-primary-fg-color: #d86bff;
    /* 头框 */
    --md-default-fg-color: hsla(var(--md-hue),15%,90%,0.82); 
    /* 小字（正文，侧栏）颜色 */
    --md-default-fg-color--light: hsla(var(--md-hue),15%,90%,0.56);
    /* 大字颜色（标题） */
    --md-default-fg-color--lightest: hsla(var(--md-hue),15%,90%,0.12);  /*322 100 60 1*/
    /* 线，框之类的 */
    --md-code-fg-color: hsla(var(--md-hue),18%,86%,0.82);
    /* 关键字，代码框内部代码*/
    --md-code-bg-color: hsla(var(--md-hue),15%,18%,1);
    /* 关键字的框，代码狂*/
    --md-typeset-color: var(--md-default-fg-color);
    /* 文字 */
    --md-default-bg-color: hsla(249,47%,12%,1); 
    /* 背景 */
  }

  [data-md-color-scheme="neon pink"] {
    --md-hue: 255; 
    --md-default-bg-color: hsla(249,47%,12%,1); 
  }